* {
    /* Set the font and reset all the elements' margin and padding */
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: black;
    text-decoration: none;
}

header h1 {
    margin-top: 50px;
    font-size: 50px;
}

.visual {
    width: 100%
}

.keyboard {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.keyboard>div {
    height: 150px;
    width: 9%;
    opacity: 70%;
    transition: all 0.4s;
}

.keyboard>div:hover {
    opacity: 100%;
}

.key1 {
    background-color: red;
}

.key2 {
    background-color: orangered;
}

.key3 {
    background-color: orange;
}

.key4 {
    background-color: yellow;
}

.key5 {
    background-color: greenyellow;
}

.key6 {
    background-color: yellowgreen;
    ;
}

.key7 {
    background-color: green;
}

.key8 {
    background-color: rgb(135, 172, 235);
}

.key9 {
    background-color: blue;
}

.key10 {
    background-color: navy;
}

.key11 {
    background-color: purple;
}